# Capítulo 1 - Básico sobre DataFrame do Pandas

Panda é uma biblioteca em Python que permite a manipulação de dados tipo planilha<br>
**Dataframe**: Representa dados de planilha ou retangulares completos<br>
**Serie**: Corresponde a uma coluna do dataframe

Para carregar o primeiro conjunto de código usaremos o método `read_csv(path, sep="\t"`. Por padrão o método read_csv separa so dados por ponto e virgula

In [ ]:
import pandas as pd
path = "C:\\Users\\Mateus\\Documents\\MateusYamaguti\\TUTORIAL-Analise-de-dados-com-python-e-pandas\\data\\gapminder.tsv"
df = pd.read_csv(path, sep="\t")

Verificar o tipo de dados que estamos trabalhando com `type(df)`

In [11]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

Verificar o número de linhas e colunas do dataframe a partir do atributo **shape**

In [14]:
print(df.shape)

(1704, 6)

Para verificar os nomes da colunas utilizamos o atributo **columns**

In [16]:
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

Podemos obter tipo referete a cada coluna com o atributo **dtype**

In [19]:
print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

Mais informações sobre o dataframe usando o método **info**

In [21]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

### Observando colunas, linhas e células
Com a grande quantidade de dados atuais é mais indicado analisar os dataframe por meio subconjunto.

In [25]:
# Verificar o cabeçalho com o método head()
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

Se desejarmo observar um coluna específica, por exemplo 'country', basta seleciona-la entre colchetes

In [28]:
country_df = df["country"]

print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [29]:
# Mostrar os últimos 5 registros
print(country_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

Para observar várias colunas, basta passar uma lista com os nomes da colunas

In [32]:
subset = df[["country", "continent", "year"]]
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

### Obtendo subconjuntos de linhas
Podemos obter subconjunto de linhas de várias formas utilizando principalmente os método **loc** e **iloc**

In [35]:
# Obtém a primeira linha
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [36]:
# Obtém a centésima linha
print(df.loc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

Para obter a últmia linha não podemos passar o índice -1 como sendo `df.loc[-1]`, isso ocasionará em um erro. Para pegar o último item devemos usar o método shape para encontrar seu índice final.

In [40]:
# Selecionando último registro
number_of_rows = df.shape[0]

# Última linha precisa subtrair menos 1, pois o python começa a contar do zero
last_row_index = number_of_rows - 1

print(df.loc[last_row_index])

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object